body {
	font-family : "微软雅黑";
	border : 1px solid #ddd;
}
.cf:before, .cf:after {
	content : " ";
	display : table;
}
.cf:after {
	clear : both;
}
.cf {
	*zoom: 1;
}
div.header ul {
	margin : 0;
	padding : 0;
}
div.header ul li {
	float : left;
	list-style-type : none;
	margin : 2px 6px;
	cursor : pointer;
}
div.header ul li:first-child {
	margin : 2px 6px 2px 0;
}
div.header br.clearFloat {
	clear : both;
	height : 1px;
}
#piece {
	display : block;
	width : 100px;
	height : 100px;
	position : absolute;
	top : 0;
	right : 0;
	background-color : #c9510c;
	color : #ffffff;
	font-size : 2em;
	line-height : 92px;
	text-align : center;
}
#drag {
	display : inline-block;
	zoom : 1;
	*display : inline;
	width : 100px;
	height : 100px;
	background-color : #6cc644;
	color : #ffffff;
	font-size : 2em;
	line-height : 92px;
	text-align : center;
}
